<%= form_with(model: mood) do |form| %>
  <% if mood.errors.any? %>
    <% if mood.errors.any? %>
      <%= errors_for(mood) %>
    <% end %>
  <% end %>

  <div id="div_id_mood" class="form-group row">
    <div class="field row">
      <div class="col-md-1 col-sm-6">
        <label for="id_mood" class=" requiredField">Mood<span class="asteriskField">*</span> </label>
      </div>
      <div class="col-md-9  col-sm-6">
        <%= form.select :mood, ["", "Very Positive", "Positive", "Neutral", "Negative", "Very Negative"],  :id => "id_mood", :class => "form_control" %>
      </div>
    </div>
  </div>

  <div id="div_id_date" class="form-group row">
    <div class="field row">
      <div class="col-md-1 col-sm-6">
        <label for="id_date" class=" requiredField">Date<span class="asteriskField">*</span> </label>
      </div>
      <div class="col-md-1 col-sm-6">
        <%= form.date_field :date, :value => Time.now.strftime('%Y-%m-%d'), :id => "id_date" %>
      </div>
    </div>
  </div>

  <div class="actions row" style="margin-top: 10px;">
    <div class="col-md-1 col-sm-6">
    </div>
    <div class="col-md-11 col-sm-6">
    <%= form.submit :id => "save-mood-btn", :class => "btn btn-primary" %>
    </div>
  </div>

<% end %>
