<div style="padding-left: 1rem; padding-right: 1rem;">

<%= form_with(model: post) do |form| %>

  <%= form.hidden_field :post_type %>

  <% if post.errors.any? %>
     <%= errors_for(post) %>
  <% end %>

    <adsf id="div_id_title" class="form-group row">
      <label for="id_title" class=" requiredField">
	    Title<span class="asteriskField">*</span> </label> <div class="">
	    <%= form.text_field :title , :id => "id_title", :class => "textinput textInput form-control"%>
    </div>


    <div id="div_id_content" class="form-group row">
      <label for="id_content" class=" requiredField">
        Content<span class="asteriskField">*</span> </label>

         <div class="">
           <%= form.text_area :content , :id => "id_content", :rows => 10, :class => "textarea form-control"%>
         </div>
    </div>

    <% unless post.new_record? %>
       <div  class="form-group row">

       <label for="id_date_posted" class=" requiredField">
         Posted on: </label>
          <div class="">
           <%= form.datetime_field :posted_on , :id => "id_date_posted"%>
          </div>
	      </div>
    <% end %>

  <div class="actions" style="margin-top: 10px;">
    <%= form.submit post.new_record? ? t(:create): t(:save), :id => "new-post-btn", :class => "btn btn-primary" %>
    &nbsp;
    <%= link_to t(:cancel), post, :id => "cancel-btn", :class => "btn btn-light" %>
  </div>
<% end %>

</div>


